<%
=begin%>
 <form action="/users" method="POST" accept-charset="UTF-8">
<label for="username"> Username: </label>
<input type="text" name="user[username]" id="username"><br><br>
<label for="email"> Email: </label>
<input type="email" name="user[email]" id="email"><br><br>
<label for="password"> Password: </label>
<input type="password" name="user[password]" id="password"><br><br>
<input type="submit" value="Submit">
</form> 
<%
=end%>

<%
=begin%>
 <%= form_tag('/users') do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><br><br>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><br><br>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %><br><br>
  <%= submit_tag('Submit') %>
<% end %> 
<%
=end%>

<%
=begin%>
 <%= form_for( @user , remote: true) do |f| %>
  <%= f.label :username, "Username:" %>
  <%= f.text_field :username %><br><br>
  <%= f.label :email, "Email:" %>
  <%= f.email_field :email %><br><br>
  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password %><br><br>
  <%= f.submit "Submit" %>
<% end %> 
<%
=end%>

<%= form_with model: @user do |form| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2> <%= pluralize(@user.errors.count, "error") %> Prohibited this user from being edited </h2>
    <ul>
    <% @user.errors.each do |error| %>
      <li> <%= error.full_message %> </li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= form.label :username %>
  <%= form.text_field :username %><br>
  <%= form.label :email %>
  <%= form.email_field :email %><br>
  <%= form.label :password %>
  <%= form.password_field :password %><br>
  <%= form.submit 'Submit' %>
<% end %>